BALE_BOT_TOKEN=
BALE_CHANNEL_ID=@mychannel
BALE_ALERT_CHAT_ID=
POLL_INTERVAL_SECONDS=600
DATABASE_PATH=/data/silver_price_bot.db
DIGIKALA_ENABLED=true
NOGHRESEA_ENABLED=true
TOKENIKO_ENABLED=true
MELLIGOLD_ENABLED=true
WEIGHT_DIGIKALA=1
WEIGHT_NOGHRESEA=1
WEIGHT_TOKENIKO=1
WEIGHT_MELLIGOLD=1
TOKENIKO_PRICE_FIELD=sellPrice
MELLIGOLD_PRICE_FIELD=price_buy
MIN_VALID_SOURCES=3
MIN_SILVER_PRICE_TOMAN=100000
MAX_SILVER_PRICE_TOMAN=2000000
MAX_SOURCE_DEVIATION_PCT=15
HTTP_MAX_RETRIES=2
DISPLAY_TIMEZONE=Asia/Tehran
INCLUDE_SOURCE_BREAKDOWN=true
PUBLISH_ONLY_ON_CHANGE=false
LOG_LEVEL=INFO
