.venv
.idea
.env
.env.django
data
.local-data
web-data
*.sqlite3
*:Zone.Identifier
static/fonts/css/
static/fonts/eot/
static/fonts/svg/
static/fonts/ttf/
static/fonts/woff/*black.woff
static/fonts/woff/*light.woff
static/fonts/woff/*thin.woff
static/images/logo_old.png
static/images/logo_resized.png
static/images/logo_v3.png
__pycache__
.pytest_cache
staticfiles
.agents
